footer
  .container.text-center
    p.float-left 2020 | SMS: Senior Message Service
    //- ul.float-right.list-inline
    //-   li.list-inline-item
    //-     a(href='https://github.com/SebastianMuszynski/sms-senior-message-service') GitHub
